@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600&display=swap');

body {
    font-family:  'Work Sans', sans-serif;
    font-size: 20px;
    background: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

/* NAV AREA */
nav {
    background: #f2f2f2;
    color: #333;
    padding: 18px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 19px;
}

nav img {
    cursor: pointer;
    margin-bottom: 20px;
}

nav .button {
    display: inline-block;
    cursor: pointer;
}

nav h3 {
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
    transform: translateY(-16px);
}

/* HEADER */
header h1 {
    font-size: 135px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
}

header p {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

/* SECTION */
section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 200px;
}

.container {
    display: inline-block;
}

.pic-text {
    text-align: center;
}

.pic-text img {
    max-width: 80%;
    height: 900px;
    margin: 40px 30px;
}

.pic-text h1 {
    margin: 0 20px;
}

.pic-text p {
    margin: 10px 0;
}

/* TEXT SECTION */
.text-area {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.lead-head h1 {
    margin-left: 60px;
    font-size: 90px;
    font-weight: 600;
}

.lead-head p {
   margin-left: 280px;
   text-align: right;
   font-size: 30px;
   font-weight: 400;
}

/* IMAGE POSITION */
.image-postion {
    margin-bottom: 80px;
}

.hash {
    margin: 60px ;
    padding: 20px;
}

.image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image img {
    width: 40%;
    height: 400px;
    padding: 0;
    margin-left: 50px;
    margin-bottom: -35px;
}

.image .tilted {
    transform: translateY(10deg);
    margin-top: 170px;
}

/* FOOTER */
footer {
    background: #333;
    color: #f2f2f2;
    height: 390px;
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
    align-items: start;
}

footer h1 {
    font-size: 70px;
    font-weight: 600;
    margin-left: 170px;
    /* padding-left: 35px; */
}

footer p {
    font-size: 20px;
    font-weight: 300;
    padding-left: 380px;
    margin-left: 180px;
    text-align: right;
}

footer .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    padding-top: 10px;
    text-align: center;
}

footer .foot h4 {
    margin-left: 60px;
    color: #ccc;
    cursor: pointer;
}

footer .foot h4:hover {
    color: #afa9a9;
}

footer .foot ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 550px;
    margin-top: 10px;
}

footer .foot ul li {
    justify-content: space-between;
    list-style: none;
    color: #ccc;
    letter-spacing: 2px;
    /* padding: 10px 0; */
    margin-left: 35px;
}

footer .foot ul li:hover {
    color: #afa9a9;
    cursor: pointer;
}


/* Mobile display */
@media only screen and (max-width: 768px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


}


